# dependencies
**/node_modules
/.pnp
.pnp.js

# build
**/dist
**/db-data
LICENSE

# misc
.DS_Store
.env
.env.sample
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
